* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

}

html {
	height: 100%;
	body {
		background: radial-gradient(circle at top, 
			#E77265, #E36566, #DE5667, #D34668, 
			#CA3E69, #B5356B, #A4326B, #81316A,
			#673268, #49316A, #2B2E65, #18295D,
			#152352, #111943, #0C1438, #080D2D);
		background-repeat: no-repeat;
		height: 100%;
		.content {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}
}
