* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

html {
	height: 100%;
}

body {
	background: radial-gradient(at top, #D2466B 1%, #080D2C);
	background-repeat: no-repeat;
	height: 100%;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

form {
	position: relative;
	width: 450px;
	border-bottom: 2px solid #D2D2D2;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
} 

.logo {
	width: 176px;
	height: 176px;
	border: 2px solid #D2D2D2;
	border-radius: 50%;
	margin: 0 auto 35px;
	display: inline-block;
	position: relative;
	background: url("img/user.svg") 50% 50% no-repeat;
	background-size: 40%;
}

.logo::before {
	content: "";
	position: absolute;
	left: -137px;
	top: 88px;
	display: block;
	width: 135px; /* (450-176)/2 */
	border-bottom: 2px solid #D2D2D2;
}

.logo::after {
	content: "";
	position: absolute;
	left: 177px;
	top: 88px;
	display: block;
	width: 135px; /* (450-176)/2 */
	border-bottom: 2px solid #D2D2D2;
}

.logo img {
	width: 75px;	
	margin: 37px 37px;
}

.input {
	margin-bottom: 25px;
	width: 450px;
	height: 65px;
	border: 2px solid #D2D2D2;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.input img {
	width: 30px;
	height: 30px;
	margin: 15px 20px 20px 20px;
	float: left;
}

.input input {
	width: 376px;
	height: 65px;
	padding-left: 20px;
	box-sizing: border-box;
	border: none;
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
	outline: none;
	background-color: #D2D2D2;
}

form button {
	width: 450px;
	height: 65px;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 60px;
	background-color: #FE5387;
	color: #D2D2D2;
	font-size: 16pt;
	text-transform: uppercase;
	outline: none;
}

form a {
	float: right;
	color: #D2D2D2;
	text-decoration: none;
	font-style: italic;
	padding-right: 5px;
}
